body {
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 620px;
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}

.bigg {
    width: 100%;
    display: flex;
}

a {
    text-transform: uppercase;
}

.hold {
    width: 20%;
}

.right {
    width: 80%;
}

.cars {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    column-gap: 5%;
    row-gap: 20px;
}

.card {
    min-width: 30%;
}